.status-power-close{
  width: 72px;
  height: 28px;
  background-color: #474747;
  border-radius: 16px;
  color: #757575;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
}
.section-third-btn-close{
  padding: 14px 48px;
  border-radius: 8px;
  background-color: #292a30b8;
  border: 1px solid #b8ff71;
}
.btn-link-close{
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #b8ff71;
}