<footer>
    <div class="footer-container">
        <p class="footer-font-gray only-mobile footer-title">EO STUDIO</p>
        <p class="footer-font-lightgray only-mobile footer-sentence">Enterpreneurship & Oppourtunities</p>
        <div class="footer-icon-container only-mobile">
            <img class="footer-youtube-icon" src="assets/images/icon/icon-youtube.svg">
            <img class="footer-facebook-icon" src="assets/images/icon/icon-facebook.svg">
        </div>
        <div class="footer-top only-desktop">
            <div class="only-desktop">
                <ul class="footer-etc footer-font-gray">
                    <li>이용약관</li>
                    <li>개인정보처리방침</li>
                    <li>채용문의</li>
                </ul>
            </div>
            <div  class="only-desktop">
                <ul class="footer-sns footer-font-lightgray">
                    <li>카카오 채널</li>
                    <li>블로그</li>
                    <li>페이스북</li>
                    <li>유튜브</li>
                </ul>
            </div>
        </div>
        <div class="footer-info footer-font-gray">
            <p class="only-desktop footer-font-lightgray footer-info-designation">(주)이오스튜디오</p>
            <ul class="footer-info-content">
                <li class="only-desktop">대표이사 : 김태용</li>
                <li class="only-mobile">(주)이오스튜디오 대표이사 : 김태용</li>
                <li>사업자 번호 : 501-87-01653</li>
                <li>통신판매신고번호 : 제 2021-서울강남-00951호</li>
                <li>대표번호 : 02-3442-692</li>
                <li>주소 : 서울시 강남구 논현로167길 12,B1</li>
                <li class="only-desktop">ⓒEO STUDIO all rights reserved</li>
            </ul>
        </div>
        <p class="footer-font-lightgray only-mobile">ⓒEO STUDIO all rights reserved</p>
        <div class="only-desktop footer-font-lightgray footer-info-inquiry">
            <p>고객센터</p>
            <p>평일 오전 10시 ~ 오후 7시, 채널톡 운영</p>
            <p>제휴문의 : partner@eoeoeo.net</p>
        </div>
     </div>
</footer>