<div class="main-fifth-container">
  <div class="main-fifth">
    <div class="main-fifth-top">
      <div class="fifth-top-content">
        <div class="main-fifth-circle"></div>
        <div class="main-fifth-title">
          <p class="main-fifth-name">익명의 예비 창업가</p>
          <p class="main-fifth-grade">창업가 피어러닝 1기</p>
        </div>
      </div>
      <div class="fifth-month-container">
        <div class="main-fifth-month">창업 준비 3개월</div>
      </div>
    </div>
    <div class="main-fifth-content">
      <p>
        창업에 있어 가장 기본적인 마인드셋인 고객이 원하는 것을 찾으라는 것에
        대해 뼈저리게 느꼈습니다.
        <span class="content-font-white">질 좋은 강의</span>를 들으며 알게 된
        것들도 정말 많았습니다.<span class="content-font-white">
          피어들과 생각지도 못한 부분에 대해서 냉철한 피드백을 나눌 수 있는
          것</span
        >이 가장 인상 깊게 남았습니다.
      </p>
    </div>
  </div>
</div>
