<div class="section-third-container">
  <div class="section-third-componant">
    <div class="third-componant-status">
      <div class="status-power-close">
        모집 예정
      </div>
      <p class="status-time">22. 09. 12. 12AM 마감</p>
    </div>
    <div class="third-full-title">
      <p class="program-title">
        창업가 피어러닝 사업계획서 작성
      </p>
      <div class="face-circle">
        <img class="third-componant-face" src="/assets/images/img-leader-taeyong.jpg">
      </div>
    </div>
    <div class="section-third-list">
      <ul class="left-list-item">
        <li>모집 대상</li>
        <li>참여 조건</li>
        <li>피어 리더</li>
      </ul>
      <ul class="right-list-item">
        <li>초기/예비 창업가</li>
        <li>창업 아이디어 보유</li>
        <li>EO Studio 김태용 대표</li>
      </ul>
    </div>
    <div class="btn-align">
      <button class="section-third-btn-close" type="button"><a class="btn-link-close" href="#">오픈 알림 신청</a></button>
    </div>
  </div>
</div>